"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "auto-host-markdown-image"
      "foldingtext-for-atom"
      "linter-csslint"
      "linter-pyflakes"
      "markdown-table-formatter"
      "teletype"
    ]
    ignoredNames: [
      "*.class"
      "*.o"
      "*.pyc"
      ".DS_Store"
      "._*"
      ".hg"
      ".svn"
    ]
    projectHome: "~/Code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-github-theme"
    ]
    titleBar: "custom-inset"
    warnOnLargeFileLimit: 0.3
  editor:
    backUpBeforeSaving: true
    normalizeIndentOnPaste: true
  "exception-reporting":
    userId: "c6d8a06c-ad1c-362a-f1ac-eece33002bb3"
  "linter-ui-default":
    hidePanelWhenEmpty: false
    showProviderName: true
    statusBarClickBehavior: "Jump to next issue"
    statusBarRepresents: "Current File"
  "markdown-preview":
    useGitHubStyle: true
  "open-terminal-here":
    command: "open -b com.googlecode.iterm2 \"$PWD\""
  "tree-view":
    alwaysOpenExisting: true
  "tree-view-auto-fold":
    showOpenFileIndicator: false
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
  "wakatime-hidden":
    lastInit: 1510890266
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "fhtml"
      "txt"
    ]
  "wrap-guide":
    enabled: false
".fish.source":
  editor:
    tabLength: 2
".makefile.source":
  editor:
    tabLength: 4
  softTabs: false
