<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.interestinglythere.mod-com.getdropbox.dropbox-renice</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Sean/.local/bin/dbnice</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.interestinglythere.mod-com.getdropbox.dropbox-renice.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.interestinglythere.mod-com.getdropbox.dropbox-renice.out</string>
	<key>StartInterval</key>
	<integer>86400</integer>
	<key>WatchPaths</key>
	<array>
		<string>/Users/Sean/.dropbox/dropbox.pid</string>
	</array>
</dict>
</plist>
