/*
To use this user style, you can install Stylish:
https://chrome.google.com/webstore/detail/stylish/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en
*/
.cic,
.evt-lk,
.cbrdcc,
.tg-col-overlaywrapper,
.tg-nowptr
{
    display: none;
}

.tg-today,
.wk-today,
.wk-full-mode .wk-today,
.wk-allday .st-bg-today
{
    background: none;
    font-weight: normal;
}

.wk-full-mode .wk-today,
.wk-full-mode .wk-tomorrow
{
    border-left: none;
    border-top: none;
}
