"*":
  "exception-reporting":
    userId: "c6d8a06c-ad1c-362a-f1ac-eece33002bb3"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "monokai"
    ]
    projectHome: "~/Code"
    disabledPackages: [
      "minimap"
      "minimap-linter"
      "terminal-panel"
      "tidy-markdown"
      "markdown-preview-plus"
      "auto-host-markdown-image"
      "auto-host-markdown-image"
      "markdown-table-formatter"
      "markdown-format"
      "term2"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "*.class"
      "*.pyc"
    ]
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 12
  "one-dark-ui": {}
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    underlineIssues: false
    statusIconPosition: "Right"
  "linter-rubocop": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
  minimap:
    plugins:
      linter: false
    absoluteMode: true
  "local-history": {}
  "atom-beautify":
    _analyticsUserId: "8747e5b9-f178-4aa4-b253-d06dbb83973c"
    language_java_disabled: true
    java_uncrustifyPath: "/usr/local/bin/uncrustify"
  wordcount:
    extensions: [
      "fhtml"
      "txt"
    ]
  term2:
    shellOverride: "/usr/local/bin/fish"
    scrollback: 10000
    shellArguments: " "
    titleTemplate: "{{ bashName }}"
  "markdown-writer": {}
  "markdown-preview":
    useGitHubStyle: true
