"*":
  "exception-reporting":
    userId: "c6d8a06c-ad1c-362a-f1ac-eece33002bb3"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "monokai"
    ]
    projectHome: "~/Code"
    disabledPackages: [
      "atom-beautify"
      "auto-host-markdown-image"
      "auto-host-markdown-image"
      "floobits"
      "markdown-format"
      "markdown-preview-plus"
      "markdown-scroll-sync"
      "markdown-table-formatter"
      "minimap-linter"
      "minimap"
      "term2"
      "terminal-panel"
      "tidy-markdown"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "*.class"
      "*.pyc"
    ]
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 12
  "one-dark-ui": {}
  linter:
    statusIconPosition: "Right"
    statusIconScope: "File"
    ignoredMessageTypes: [
      "Metrics/LineLength"
    ]
  "linter-rubocop": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
  minimap:
    plugins:
      linter: false
    absoluteMode: true
  "local-history":
    difftoolCommand: "opendiff \"{current-file}\" \"{revision-file}\""
  "atom-beautify":
    _analyticsUserId: "8747e5b9-f178-4aa4-b253-d06dbb83973c"
    language_java_disabled: true
    java_uncrustifyPath: "/usr/local/bin/uncrustify"
  wordcount:
    extensions: [
      "fhtml"
      "txt"
    ]
  term2:
    shellOverride: "/usr/local/bin/fish"
    scrollback: 10000
    shellArguments: " "
    titleTemplate: "{{ bashName }}"
  "markdown-writer": {}
  "markdown-preview":
    useGitHubStyle: true
  "auto-update-packages": {}
  "git-blame": {}
  "linter-haml":
    copyRubocopYml: false
  "remote-edit":
    sshPrivateKeyPath: "~/.ssh/id_dsa"
  wakatime:
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
    apikey: "092bf734-d20e-4e84-a477-bff2e7fc29b9"
".fish.source":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
".makefile.source":
  softTabs: false
  editor:
    tabLength: 4
